@charset "utf-8";
.footer{
	width:100%;
	float: left;
	margin: 30px 0 0 0;
	.footer_top{
		height: 122px;
		background: #303030;
		.footer_top_content{
			width: 1200px;
			margin: 0 auto;
			.footer_content{
				a{
					display: inline-block;
					width: 82px;
					height: 82px;
					background-image: url("../images/wx.png");
				}
			}
		}
	}
	.footer_bommto{
		height: 68px;
		background: #434343;
		.footer_bommto_content{
			width: 1200px;
			margin: 0 auto;
			text-align: center;
			line-height: 68px;
			color: #ffffff;
			font-size: 13px;
		}
	}
}