@charset "utf-8";
.game{
	width: 1200px;
	margin: 20px auto;
	.game_content{
		width: 926px;
		background:#ffffff;
		border-top: 2px solid #ffffff;
		overflow: hidden;
		float: left;
		.game_nav{
			width: 926px;
			height: 45px;
			background: #f2f2f2;
			border-bottom: 2px solid #ffffff;
			ul{
				li{
					width: 126px;
					height: 45px;
					float: left;
					text-align: center;
					line-height: 45px;
					cursor: pointer;
					a{
						color: #ababab;
					}
				}
				li:hover{
					background: #ffffff;
					a{
						color: #ff500b;
					}
				}
				.game_nav_selected{
					background: #ffffff;
					a{
						color: #ff500b;
					}
				}
			}
		}

		.game_nav_help{
			background: #f9f9f9;
			height: 30px;
			width: 962px;
			ul{
				li{
					float: left;
					line-height: 30px;
					text-align: center;
					padding: 0 5px 0 5px;
					a{
						color: #777777;
						font-size: 14px;
					}
				}
			}
		}

		.game_isn{
			width: 926px;
			height: 2px;
			background: #ededed;
			ins{
				width: 700px;
				height: 2px;
				display: block;
				background:linear-gradient(to left, #ff7849 , #ff605f);
				transition: width 5s;
			}
		}

		.game_time{
			width: 926px;
			height: 105px;
			border-bottom: 1px solid #f6f6f6;
			.game_time_left{
				width: 452px;
				height: 80px;
				border-right: 1px solid #f1f1f1; 
				float: left;
				margin-top: 12px;
				.game_time_left_pic{
					width: 50px;
					height: 56px;
					background-image: url("../images/time.png");
					margin: 10px 10px 10px 30px;
					float: left;
				}
				.game_time_info{
					width: 340px;
					height: 80px;
					float: left;
					margin: 10px 10px 10px 10px; 
					.game_time_info_text{
						color: #777777;
						.game_time_info_qihao{
							color: #ff7037;
						}
						.game_time_info_mm{
							color: #ffffff;
							background:linear-gradient(to left, #ff7849 , #ff605f);
							box-shadow: -2px 5px 6px #ff605f;
							border-radius: 30px;
							display: inline-block;
							width: 40px;
							text-align: center;
						}
					}
					.game_time_info_vip{
						display: block;
						font-size: 13px;
						width: 244px;
						height: 22px;
						border-radius: 20px;
						background:linear-gradient(to left, #ff7849 , #ff605f);
						color: #ffffff;
						text-align: center;
						line-height: 22px;
						margin: 10px 10px 10px 36px;
					}
				}
			}

			.game_time_right{
				width: 460px;
				float: right;
				height: 100px;
				.game_time_member{
					width: 200px;
					float: left;
					margin: 20px 20px 10px 10px;
					.game_time_member_title{
						display: block;
						color: #777777;
						span{
							color: #ff6000;
						}
					}
					img{
						width: 36px;
						height: 36px;
						overflow: hidden;
						display: block;
						float: left;
						border-radius: 50px;
						margin-top: 5px;
					}
					.game_time_member_info{
						float: left;
						margin-top: 5px;
						span{
							padding-left:10px;
							display: block;
							color: #777777;
							font-size: 14px;
						}
						.game_time_shou{
							display: inline;
							color: #ff6000;
							padding-left: 2px;
						}
						.game_time_kui{
							display: inline;
							color: #66cd40;
							padding-left: 2px;
						}
					}
				}
			}
		}

		.game_danmu{
			width: 900px;
			height: 38px;
			background: #fbfbfb;
			margin: 10px auto;
			.game_danmu_tag{
				width: 70px;
				height: 38px;
				background:linear-gradient(to left, #ff7849 , #ff605f); 
				color: #ffffff;
				text-align: center;
				line-height: 38px;
				font-size: 14px;
				float: left;
			}
			.game_danmu_tanchuang{
				-webkit-transition: height 2s;
				display: none;
				position: absolute;
				z-index: 100001;
				width: 406px;
				background:#f6f6f6;
				left: 38%;
    			top: 250px;
				.game_danmu_title{
					height: 40px;
					width: 100%;
					color: #ffffff;
					font-size: 14px;
					background: linear-gradient(to left, #ff7849, #ff605f);
					text-align: center;
					line-height: 40px;
				}
				textarea{
					height: 124px;
					width: 390px;
					background: #ffffff;
					color: #bfbfbf;
					resize: none;
					border: none;
					outline: none;
					padding: 8px;
					font-size: 16px;
				}
				.game_danmu_nav{
					width: 390px;
					height: 28px;
					padding: 8px;
					border-bottom: 1px solid #ededed;
					.icon{
						color: #afafaf;
						width: 22px;
						height: 22px;
					}
					.icon:nth-child(1){
						cursor: pointer;
					}
					.icon:nth-child(1):hover{
						color: #ff8765;
					}
				}
				.game_danmu_sendhb{
					position: relative;
					border-bottom: 1px solid #ededed;
					display: none;
					input::-webkit-outer-spin-button,
					input::-webkit-inner-spin-button {
					    -webkit-appearance: none !important;
					    margin: 0;
					}
					input{
						border: none;
						outline: none;
						height: 22px;
						font-size: 14px;
						color: #333333;
						border-radius: 4px;
    					box-shadow: 0px 2px 12px #e6e6e6;
    					padding: 10px;
					}
					input:nth-child(1){
						width: 200px;
						margin: 24px 10px 0 26px;
					}
					input:nth-child(2){
						width: 100px;
					}

					.icon{
						display: block;
						color: #ff8765;
						width: 22px;
						height: 22px;
						position: absolute;
						top: 34px;
    					right: 170px;
					}
					p{
						text-align: center;
						color: #666666;
						font-size: 14px;
						margin: 0px;
						line-height: 35px;
						margin-top: 10px;
					}
					span{
						margin: 0px;
						display: block;
						color: #ff7800;
						font-size: 12px;
						line-height: 18px;
						text-align: center;
						margin-bottom: 10px;
					}
				}

				.game_danmu_sendDM{
					margin: 12px auto;
					color: #ffffff;
					cursor: pointer;
					text-align: center;
					line-height: 30px;
					@include g-button(#ff605f,#ff7849, 150px);
				}
			}
			.game_mask{
				background:rgba(0,0,0,0.5);
				display: none;
				position: absolute;
				z-index:100000;
				width: 100%;
				height: 100%;
				left: 0px;
				top: 0px;
			}
			.game_danmu_content{
				overflow: hidden;
				position: relative;
				width: 752px;
				height: 38px;
				float: left;
				ul{
					position: absolute;
					display: block;
					left: 0px;
					width: 100%;
					li{
						float: left;
						background: #eaeaea;
					    border-radius: 30px;
					    margin: 0 5px 0 5px;
					    padding-right: 5px;
						a{
							width: auto;
							margin: 3px;
							float: left; 
							cursor: pointer;
							img{
								display: block;
								width: 32px;
								height: 32px;
								border-radius: 30px;
								float: left;
							}
							.game_danmu_content_msg{
								font-size: 12px;
								float: left;
								margin-left: 5px;
								text-align: left;
								span{
									color: #606060;
									display: block;
									line-height: 16px;
									p{
										display: inline;
										color: #ff7849;
									}
								}
								.game_danmu_name{
									color: #989898;
									font-size: 10px;
									text-align: left;
									line-height: 14px;
								}

									
							}

							.game_danmu_hongbao{
								background:linear-gradient(to left, #ff7849 , #ff605f); 
								display: inline-block;
								height: 32px;
								text-align: center;
								padding: 0 5px 0 5px;
								border-radius: 30px;
								font-size: 10px;
								span{
									color: #fff900;
									line-height: 32px;
								}

								.game_danmu_name{
									color: #ffffff;
									p{
										color: #ffffff;
									}
								}
							}

						}
					}

					.game_danmu_hongbao_border{
						padding-right: 0px;
					}
				}
			}

			.game_danmu_send{
				float: right;
				width: 76px;
				height: 38px;
				background:linear-gradient(to left, #ff7849 , #ff605f); 
				border-radius: 30px;
				text-align: center;
				line-height: 38px;
				color: #ffffff;
				font-size: 14px;
				cursor: pointer;
				margin-right: -70px;
			}

			.game_danmu_block{
				background: #ffffff;
				width: 70px;
				height: 38px;
				float: right;
			}
		}

		.game_luck{
			width: 920px;
			height: 600px;
			table{
				width: 920px;
				color: #777777;
				font-size: 14px;
				tr{
					width: 920px;
					border-bottom: 1px solid #efefef;
					display: inline-block;
					th{
						width: 128px;
						font-weight: 100;
						height: 36px;
					}

					td{
						width: 128px;
						text-align: center;
						height: 36px;
						.game_luck_btn_jing{
							display: inline-block;
							width: 50px;
							height: 24px;
							background:linear-gradient(to left, #ff7849 , #ff605f); 
							color: #ffffff;
							text-align: center;
							line-height: 24px;
							border-radius: 30px;
							box-shadow: -2px 5px 6px #ff605f;
							cursor: pointer;
						}

						.game_luck_btn_yikai{
							display: inline-block;
							width: 50px;
							height: 24px;
							background: #ececec;
							color: #6d6d6d;
							text-align: center;
							line-height: 24px;
							border-radius: 30px;
							cursor: pointer;
						}

						.game_luck_shou{
							color: #ff510c;
							display: block;
						}

						.game_luck_num{
							width: 28px;
							height: 28px;
							border-radius: 28px;
							background:linear-gradient(to left, #ff7849 , #ff605f); 
							color: #ffffff;
							text-align: center;
							line-height: 28px;
							display: inline-block;
						}

						.game_luck_x{
							background: #ececec;
							color: #6d6d6d;
						}
					}

					.game_luck_zhong{
						color: #ff5f60;
						a{
							color: #ff5f60;
						}
					}

					
				}
			}
		}

		
	}

	.game_member{
		width: 260px;
		background: #ffffff;
		float: right;
		.game_member_info{
			width: 240px;
			padding: 10px;
			.game_member_info_head{
				width: 78px;
				height: 78px;
				background: #ffffff;
				border-radius: 78px;
				border: 10px solid #f8f8f8;
				background-image: url("../images/head.gif");
				background-size: cover;
				float: left;
			}
			.game_member_info_name{
				color: #333333;
				float: left;
				margin-left: 8px;
				font-size: 14px;
				p{
					padding: 2px;
					margin: 0;
					.game_member_info_tag{
						display: inline-block;
						padding: 0 10px 0 10px;
						background: linear-gradient(to left, #ff7849, #ff605f);
						color: #ffffff;
						text-align: center;
						border-radius: 20px;
					}
				}

				p:last-of-type{
					font-size: 12px;
					span{
						display: inline-block;
						width: 10px;
						height: 10px;
						background: #66cd40;
						border-radius: 10px;
					}
				}
		}

		.game_user_jinbi{
			float: left;
			color: #333333;
			font-size: 14px;
			text-align: center;
			width: 100%;
			margin: 0;
			line-height: 30px;
			border-bottom: 1px solid #f7f7f7;
			padding-bottom: 8px;
			span{
				color: #ff615e;
			}
		}
	}
}

	.game_info{
		width: 240px;
		padding: 10px;
		background: #ffffff;
		float: right;
		font-size: 14px;
		.game_info_qi{
			width: 120px;
			float: left;
			cursor: pointer;
			p{
				margin: 5px;
				text-align: center;
				color: #333333;
			}
			span{
				text-align: center;
				display: block;
				color: #ff734d;
			}
			.game_info_shu{
				text-align: center;
				display: none;
				margin: 5px;
				color: #66cd40;
				span{
					display: inline-block;
					width: 20px;
					height: 20px;
					border: 1px solid #66cd40;
					color: #66cd40;
				}
			}
			.game_info_yin{
				text-align: center;
				display: block;
				margin: 5px;
				span{
					display: inline-block;
					width: 20px;
					height: 20px;
					border: 1px solid #ff734d;
					color: #ff734d;
				}
			}
		}

		.game_info_qi:hover{
			box-shadow: 0px 0px 20px #efefef;
		}
	}

	.game_info_releef{
		width: 240px;
		padding: 10px;
		background: #ffffff;
		float: right;
		font-size: 14px;
		margin: 0;
		border-bottom: 1px solid #f7f7f7;
		ul{
			li{
				float: left;
				color: #ffffff;
				font-size: 12px;
				.game_info_jiuji{
					margin: 5px;
					@include g-button(#ff605f,#ff7849, 70px);
				}
				.game_info_gongzi{
					margin: 5px;
					@include g-button(#66cd40,#51b457, 70px);
				}
				.game_info_yinhang{
					margin: 5px;
					@include g-button(#4494fe,#6caaff, 70px);
				}
			}
		}
	}

	.game_ranking{
		width: 240px;
		padding: 10px;
		background: #ffffff;
		float: right;
		font-size: 14px;
		margin: 0;
		.game_ranking_head{
			height: 32px;
			font-size: 14px;
			color: #777777;
			text-align: center;
			span{
				display: inline-block;
				background-image: url("../images/paihangPic.png");
				width: 22px;
				height: 18px;
				margin-right: 10px;
			}
		}

		table{
			color: #777777;
			tr{
				width: 240px;
				border-bottom: 1px solid #efefef;
				display: inline-block;
				th{
					font-weight: 100;
					text-align: center;
				}
				td{
					line-height: 28px;
					font-size: 13px;
					text-align: center;
				}

				td:nth-child(3){
					color: #ff6000;
					i{
						@include g-jinbi();
					}
				}

				td:nth-child(4){
					color: #f43435;
				}

				td:nth-child(1){
					width: 32px;
				}

				td:nth-child(2){
					width: 50px;
				}

				td:nth-child(3){
					width: 95px;
				}

				td:nth-child(4){
					width: 45px;
				}

				th:nth-child(1){
					width: 32px;
				}

				th:nth-child(2){
					width: 50px;
				}

				th:nth-child(3){
					width: 95px;
				}

				th:nth-child(4){
					width: 45px;
				}

				.game_ranking_no1{
					margin-left: 5px;
					float: left;
					@include paiming(1);
				}

				.game_ranking_no2{
					margin-left: 5px;
					float: left;
					@include paiming(2);
				}

				.game_ranking_no3{
					margin-left: 5px;
					float: left;
					@include paiming(3);
				}
			}
		}
	}
}

