@charset "utf-8";
$font-color: #ff7300;
.head{
	width: 100%;
	height: 188px;
	background: #ffffff;
	box-shadow: 0px 3px 12px #e2e2e2;
	.head_top{
		width:100%;
		height: 30px;
		background: #f8f8f8;
		border-bottom: 1px solid #f0f0f0;
		ul{
			display: block;
			width: 1200px;
			margin: 0 auto;
			color: #555555;
			li{
				float: left;
				line-height: 30px;
				font-size: 14px;
				margin: 0 5px 0 0;
				a{
					color: #555555;
				}
			}
			li:hover{
				color: $font-color;
			}
			.head_top_line{
				width: 1px;
				height: 15px;
				background:#c3c3c3;
				float: right;
				margin-top: 8px;
			}
			.head_top_right{
				display: block;
				float: right;
				cursor: pointer;
			}
			.head_top_reg{
				width:94px;
				.head_top_reward{
					width: 50px;
					background: $font-color;
					color: #ffffff;
					display: block;
					text-align: center;
					border-radius:20px;
					height: 15px;
					float: right;
					line-height: 15px;
					margin-top: 8px;
					margin-right: 10px;
					font-size: 12px;
				}
				.head_top_vip{
					width: 80px;
					display: block;
					background:$font-color;
				}
			}
		}
		
		.head_min{
			width: 1200px;
			height: 99px;
			border-bottom: 1px solid #f0f0f0;
			margin: 0 auto;
			padding-top: 32px;
			.head_min_logo{
				width: 200px;
				height: 72px;
				background-image: url("../images/logo.png");
				float: left;
				margin-top: 15px;
			}
		}

		.head_nav{
			width: 100%;
			height: 55px;
			margin: 0 auto;
			color: #929292;
			float: left;
			ul{
				margin-top: 10px;
				//导航条
				li{
					float: left;
					width: 96px;
					height: 34px;
					background: #f2f2f2;
					text-align: center;
					line-height: 34px;
					border-radius:20px;
					cursor: pointer;
				}
				//导航条被选中class
				.head_nav_select{
					transition: width 2s;
					@include g-button(#ff605f,#ff7849, 100px);
					a{
						color: #ffffff;
					}
				}

				//导航条最右边
				.head_nav_right{
					background:none;
					box-shadow: none;
					width: 60px;
					height: 30px;
					border-radius: none; 
					float: right;
				}
			}

			li:hover{
				transition: width 1s;
				@include g-button(#ff605f,#ff7849, 100px);
				a{
					color: #ffffff;
				}
			}
		}
	}
}
